# Server Port
PORT=5000

# Recipient Email Address
EMAIL_TO=musicmangoaudios@gmail.com

# Nodemailer SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=your-sender-email@gmail.com
EMAIL_PASS=your-gmail-app-password
